.header {
  background-color: $color-secondary;
  grid-column: full-start/full-end;
  padding: 1rem;

  display: flex;

  @media only screen and (max-width: $bp-medium) {
    padding: 0.5rem;
  }

  a {
    outline: none;
  }
}

.logo {
  height: 4rem;
  margin-left: 1rem;
}

// Using float to displays navbar
// this feature also can use flexbox and grid,
// but just want to try some float property also can do the same thing
.navigation {
  &__link {
    margin-right: auto;
  }
  &__nav {
    margin-top: 1rem;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &__item {
    align-self: stretch;
    display: flex;
    padding: 0 1rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 0 1rem;
    }

    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      display: block;
      fill: rgba($color-white, 0.8);
    }

    a {
      font-size: 1.5rem;
      text-decoration: none;
      transition: all 0.5s;
      outline: none;
      cursor: pointer;

      > span {
        color: $color-white;
      }

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.user__nav {
  &--user {
    position: relative;

    display: flex;
    align-items: center;
    img {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
    }

    &-text {
      font-size: 1.2rem;
      padding-left: 1rem;

      color: $color-white;
    }
  }
  &--user:hover &--profile {
    padding-top: 1.5rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.6s ease-in-out;
  }
  &--profile {
    background-color: rgba($color-white, 0.9);
    border-top: 1.2rem solid #101d2c;
    // max-height: calc(100vh - 62px);
    // overflow-y: auto;
    position: absolute;
    top: 100%;
    right: 0px;
    min-width: 20rem;
    z-index: 819;
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;

    &-list {
      font-size: 1.4rem;
      list-style-type: none;
    }

    &-item {
      padding: 0.8rem;

      > span {
        color: $color-black;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        display: block;
        fill: rgba($color-black, 0.8);
      }
    }
    &-link {
      display: flex;
      align-items: center;
    }

    &-chat {
      padding: 0.8rem;
      padding-left: 1rem;
      width: 100%;
      display: flex;
      justify-content: start;
      flex-direction: column;
    }
    &-who {
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 0.2rem;
      margin-bottom: 0.2rem;
      @include border-bottom;
    }

    &-center {
      font-size: 1.2rem;
      text-align: center;

      a {
        color: rgba($color-black, 0.8);
      }
    }

    &-text {
      font-size: 1.6rem;
      span {
        font-size: 1.1rem;
        padding-left: 0.5rem;
        color: rgba($color-black, 0.8);
      }
    }
  }
}
