<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap&subset=chinese-traditional"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="./img/logo2.png" sizes="32x32" />
    <link rel="stylesheet" href="css/style.css" />
    <title>SYK &mdash; 分享知識的平台</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="./index.html" class="navigation__link"
          ><img src="img/logo1.png" alt="SYK logo" class="logo"
        /></a>

        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="./posts.html" class="navigation__link">文章</a>
            </li>
            <li class="navigation__item">
              <a href="./login.html" class="navigation__link">登入</a>
            </li>
            <li class="navigation__item">
              <a href="./signup.html" class="navigation__link">註冊</a>
            </li>
          </ul>
        </nav>
      </header>

      <section class="profiles">
        <div class="profiles__boxes">
          <div class="profiles__box">
            <div class="profiles__box--background"></div>
            <div class="profiles__box--img">
              <img src="./img/story--1.jpg" alt="user 1" />
            </div>
            <div class="profiles__box--info">
              <div class="profiles__box--info--name">
                JingHuang-Su
              </div>
              <div class="profiles__box--info--workat">
                Senior Developer at Google
              </div>
            </div>
            <div class="profiles__box--check">
              <a href="./profile.html">深入了解 </a>
            </div>
          </div>
          <div class="profiles__box">
            <div class="profiles__box--background"></div>
            <div class="profiles__box--img">
              <img src="./img/story--1.jpg" alt="user 1" />
            </div>
            <div class="profiles__box--info">
              <div class="profiles__box--info--name">
                JingHuang-Su
              </div>
              <div class="profiles__box--info--workat">
                Senior Developer at Google
              </div>
            </div>
            <div class="profiles__box--check">
              <a href="./profile.html">深入了解 </a>
            </div>
          </div>
          <div class="profiles__box">
            <div class="profiles__box--background"></div>
            <div class="profiles__box--img">
              <img src="./img/story--1.jpg" alt="user 1" />
            </div>
            <div class="profiles__box--info">
              <div class="profiles__box--info--name">
                JingHuang-Su
              </div>
              <div class="profiles__box--info--workat">
                Senior Developer at Google
              </div>
            </div>
            <div class="profiles__box--check">
              <a href="./profile.html">深入了解 </a>
            </div>
          </div>
          <div class="profiles__box">
            <div class="profiles__box--background"></div>
            <div class="profiles__box--img">
              <img src="./img/story--2.jpg" alt="user 1" />
            </div>
            <div class="profiles__box--info">
              <div class="profiles__box--info--name">
                JingHuang-Su
              </div>
              <div class="profiles__box--info--workat">
                Senior Developer at Google
              </div>
            </div>
            <div class="profiles__box--check">
              <a href="./profile.html">深入了解 </a>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer mt-md">
        <ul class="footer__icons">
          <li>
            <svg>
              <use
                xlink:href="img/sprite.svg#medium"
                class="footer__icons--medium"
              ></use>
            </svg>
          </li>
          <li>
            <svg>
              <use xlink:href="img/sprite.svg#linkedin"></use>
            </svg>
          </li>
          <li>
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </li>
          <li>
            <svg>
              <use xlink:href="img/sprite.svg#youtube"></use>
            </svg>
          </li>
        </ul>
        <p class="copyright ">
          &copy; Copyright 2019 by JingHuang-Su.
        </p>
      </footer>
    </div>
  </body>
</html>
